<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>

<body>

<th:block th:include="~{_shared/nav}"></th:block>

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h2 class="font-weight-light text-center">Please login here!</h2>
            <div class="auth-img">
                <img src="http://aztrucklist.com/uploads/avatars/blank.png" alt="avatar" class="avatar">
            </div>
            <form th:action="@{/users/login}" method="POST">
<!--                <div th:if="${error}" class="alert alert-danger" role="alert">-->
<!--                    Password or username are incorrect!-->
<!--                </div>-->
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label"><h5>Username</h5></label>
                    <div class="col-sm-10">
                        <input class="form-control" id="username" name="username"> <!--th:value="${username}"-->
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label"><h5>Password</h5></label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary btn-lg btn-block ml-3 mr-3 mt-3"><h4>Sign in</h4>
                    </button>
                </div>
            </form>
            <div style="height: 30vh; overflow: auto;"></div>
        </div>
    </div>
</div>

<th:block th:include="~{_shared/footer}"/>

</div>
</div>
</body>
</html>