<th:block th:fragment>
    <footer class="navbar navbar-expand-lg navbar-light bg-light static-bottom mt-5 shadow" style="width: 100%">

        <div class="container">
            <p>All right reserved! &copy;</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Languages</a></li>
                <li class="list-inline-item"><a href="#">Contacts</a></li>
                <li class="list-inline-item"><a href="#">Privacy</a></li>
            </ul>

        </div>
    </footer>
</th:block>