<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>

<body>

<th:block th:include="~{_shared/nav}"></th:block>

<div class="container">
    <div class="card border-0 shadow my-5">
        <div th:object="${teamStadiumModel}" class="card-body p-5">
            <h2 class="font-weight-light text-center" th:text="|*{teamName} *{town}|"></h2>

            <ul  class="text-center mt-5">
                <li><img width="300" th:src="*{teamLogoLink}" alt="" class="mb-5"></li>
                <li th:text="|Stadium name: *{name}|">Team name: PFK Cherno more</li>
                <li th:text="|Stadium capacity: *{capacity}|">Town: Varna</li>
                <li th:text="|Team: *{teamName}|">Group: Premier league</li>
            </ul>

            <div style="height: 35vh; overflow: auto;"></div>
        </div>
    </div>
</div>

<th:block th:include="~{_shared/footer}"/>

</div>
</div>
</body>
</html>